<div class='image-card'>
  <a href='{{largeImageURL}}' class='image-card__link'><img
      src='{{webformatURL}}'
      class='image-card__image'
      srcset='{{webformatURL}} 1x, {{largeImageURL}} 2x'
      alt='{{tags}}'
      loading='lazy'
    /></a>
  <ul class='image-card__info'>
    <li>
      <svg class='heart-icon' viewBox='0 -28 512.00002 512' xmlns='http://www.w3.org/2000/svg'><path
          fill='#fff'
          d='m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0'
        ></path></svg>
      <p>{{likes}}</p>
    </li>
    <li>
      <svg
        class='view-icon'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 488.85 488.85'
        style='enable-background:new 0 0 488.85 488.85'
        xml:space='preserve'
      ><path
          fill='#fff'
          d='M244.425 98.725c-93.4 0-178.1 51.1-240.6 134.1-5.1 6.8-5.1 16.3 0 23.1 62.5 83.1 147.2 134.2 240.6 134.2s178.1-51.1 240.6-134.1c5.1-6.8 5.1-16.3 0-23.1-62.5-83.1-147.2-134.2-240.6-134.2zm6.7 248.3c-62 3.9-113.2-47.2-109.3-109.3 3.2-51.2 44.7-92.7 95.9-95.9 62-3.9 113.2 47.2 109.3 109.3-3.3 51.1-44.8 92.6-95.9 95.9zm-3.1-47.4c-33.4 2.1-61-25.4-58.8-58.8 1.7-27.6 24.1-49.9 51.7-51.7 33.4-2.1 61 25.4 58.8 58.8-1.8 27.7-24.2 50-51.7 51.7z'
        ></path></svg>
      <p>{{views}}</p>
    </li>
    <li>
      <svg
        class='comments-icon'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 32 32'
        style='enable-background:new 0 0 32 32'
        xml:space='preserve'
      ><path
          style='fill:#fff'
          d='M16 0C8.27 0 2 6.27 2 14a13.95 13.95 0 0 0 4.043 9.828L6 32l6.703-4.434c1.063.262 2.156.434 3.297.434 7.73 0 14-6.27 14-14S23.73 0 16 0z'
        ></path></svg>
      <p>{{comments}}</p>
    </li>
    <li>
      <svg
        class='download-ico'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 480 480'
        style='enable-background:new 0 0 480 480'
        xml:space='preserve'
      ><path
          fill='#fff'
          d='m378.528 214.688-21.088-24c-5.824-6.624-15.904-7.264-22.56-1.472L272 244.32V16c0-8.832-7.168-16-16-16h-32c-8.832 0-16 7.168-16 16v228.32l-62.88-55.104c-6.624-5.792-16.704-5.152-22.56 1.472l-21.088 23.968c-5.856 6.656-5.184 16.8 1.472 22.624l126.528 110.752a16.017 16.017 0 0 0 21.088 0L377.056 237.28c6.656-5.824 7.328-15.968 1.472-22.592zM416 416H64c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16h352c8.832 0 16-7.168 16-16v-32c0-8.832-7.168-16-16-16z'
        ></path></svg>
      <p>{{downloads}}</p>
    </li>
  </ul>
</div>
